*.o
aclocal.m4
autom4te.cache/
checktestdata
config.log
config.status
configure
config.mk
lex.cc
parse.cc
parserbase.h
scannerbase.h
checktestdata-scan.tar.xz
coverity-scan.tar.xz
cov-submit-data*.sh
cov-int/
*.gcda
*.gcno
coverage*.html
/bazel-*
*.swp
